html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font: normal 11pt/1.345 Sans-serif;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  padding-bottom: 100px;
}
button {
  padding: 10px 30px;
  border: solid 1px #ccc;
  background-color: #eee;
  border-radius: 4px;
}
button:active {
  background-color: #ddd;
  color: #000;
}
li, button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
button + span, #result {
  display: inline-block;
  margin-left: 10px;
  font-weight: bold;
}
section {
  margin: 1rem;
  border: solid 1px #ccc;
  padding: 20px;
  max-width: 400px;
}
h1 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  border: solid 1px #ccc;
  max-width: 200px;
}
li {
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  border-bottom: solid 1px #ccc;
  list-style: none;
  padding: 5px 10px;
}
li.selected {
  background-color: #eee;
}
li:last-of-type {
  border: none;
}
h4 {
  margin: 0;
}
h3 {
  border-bottom: solid 1px #ccc;
}
@media only screen and (min-width: 800px) {
  button:hover {
    background-color: #ddd;
    color: #000;
  }
  li:hover {
    background-color: #666;
    color: #fff;
  }
}
